In [2]:
import pandas as pd
import sqlite3
from pathlib import Path
from fastai.text.all import *

path = Path('../../../data/all-the-news')
con = sqlite3.connect(path/'all_the_news.db')

pub_stats = pd.read_sql_query('SELECT publication, min(date),max(date), count(*) as cnt from news group by publication order by max(date) desc', con)
pub_stats

           publication            min(date)            max(date)     cnt
0        Buzzfeed News  2016-02-19 00:00:00  2020-04-02 00:00:00   32819
1   The New York Times  2016-01-01 00:00:00  2020-04-01 13:42:08  252259
2     Business Insider  2016-01-01 03:08:00  2020-04-01 01:48:46   57953
3      Washington Post  2016-06-10 00:00:00  2020-04-01 00:00:00   40882
4                  TMZ  2016-01-01 00:00:00  2020-04-01 00:00:00   49595
5          Refinery 29  2016-01-01 07:00:00  2020-04-01 00:00:00  111433
6                  Vox  2016-01-01 01:41:26  2020-03-31 23:50:00   47272
7            The Verge  2016-01-01 00:00:00  2020-03-31 00:00:00   52424
8        Hyperallergic  2016-01-01 00:00:00  2020-03-31 00:00:00   13551
9                  CNN           2016-01-01  2020-03-31 00:00:00  127602
10                CNBC           2016-01-01  2020-03-31 00:00:00  238096
11          TechCrunch  2016-01-01 08:00:19  2020-03-30 10:57:55   52095
12               Wired           2016-01-01  2020-03-30 00:00:00   20243
13             Reuters           2016-01-01  2020-03-30 00:00:00  840094
14        New Republic           2016-01-01  2020-03-30 00:00:00   11809
15            Mashable           2016-01-01  2020-03-30 00:00:00   94107
16           Economist  2016-01-01 00:00:00  2020-03-30 00:00:00   26227
17                Vice  2016-01-01 00:00:00  2020-03-29 15:17:00  101137
18            The Hill           2016-01-01  2020-03-26 00:00:00  208411
19            Politico           2016-01-01  2020-03-26 00:00:00   46377
20          New Yorker           2016-01-04  2020-02-17 00:00:00    4701
21               Axios  2016-12-23 00:00:00  2020-01-01 00:00:00   47815
22              People  2016-01-01 00:05:00  2019-12-15 22:40:00  136488
23             Gizmodo           2016-01-01  2019-10-15 00:00:00   27228
24           Vice News  2016-01-01 00:00:00  2019-08-07 00:00:00   15539
25                                           2019-03-08 00:00:00   12578
26            Fox News           2016-04-09           2018-08-14   20144

In [3]:
torch.cuda.set_device(0)
torch.cuda.current_device()

0

In [19]:
publisher = 'The New York Times'
records = '75000'
query = f"SELECT article from news where publication = '%s' and length(article) > 10 order by random() limit %s"%(publisher,records)
df = pd.read_sql_query(query,con)
bs=128
dls = TextDataLoaders.from_df(df, text_col='article', is_lm=True,bs = bs)

/home/user/anaconda3/envs/fastai/lib/python3.7/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [32]:
iteration = '2'
fname = f'lm_all_%s_%sArticles_%s'%(publisher,records,str(iteration))
learn = language_model_learner(dls, AWD_LSTM, metrics=accuracy)
print(learn.path,learn.model_dir)

. models

In [40]:
learn = learn.load(fname)

for x in range(0,2):
    print(learn.predict('In the United States, immigration is',n_words=10))

In the United States , immigration is a part different put . Bobbitt is about to

In the United States , immigration is decade , it is debt , jerusalem . GROUP

In [42]:
for x in range(0,2):
    print(learn.predict('In the United States, abortion is',n_words=10))

In the United States , abortion is including cure planning , if lot not institution have been

In the United States , abortion is learning only each good government , everything and translation dozens

In [35]:
for x in range(0,2):
    print(learn.predict('In the United States, minorities are',n_words=10))

In the United States , minorities are at an misspelled child vowing for fighting officials , and

In the United States , minorities are kill a performance ann of candidates that is only wilson

In [36]:
for x in range(0,2):
    print(learn.predict('In terms of the economy, immigration is',n_words=10))

In terms of the economy , immigration is russian the most feelings around to start in a place

In terms of the economy , immigration is artists to speed . Cyril onetime , it paying

In [37]:
for x in range(0,2):
    print(learn.predict('In terms of the economy, abortion is',n_words=10))

In terms of the economy , abortion is a killed . think those the Tech ’ve

In terms of the economy , abortion is children back for many people and is peter dublin to

In [38]:
for x in range(0,2):
    print(learn.predict('In terms of the economy, minorities are',n_words=10))

In terms of the economy , minorities are sympathetic result in interviews you talked than in most preparing

In terms of the economy , minorities are demands charged by u.k roughly . On a

In [39]:
for x in range(0,2):
    print(learn.predict('Black people are disproportionately',n_words=10))

Black people are disproportionately logo , which the wives of being leaders to impressive

Black people are disproportionately running , even so their canterbury or fostered are only